{% extends "base.html" %}
{% block title %}My Learning Log - Posts{% endblock %}

{% block content %}
<div class="ps">
  {% for i in posts %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div>
        <h3 class="panel-title">{{ i.title }}</h3>
      </div>
      <div id="icon"> BY: {{ i.user.username }}
        <a class="glyphicon glyphicon-pencil" href="{{ url_for(('blog.update_post'), pid=i.pid)}}"></a>&nbsp;&nbsp;
        <a class="glyphicon glyphicon-trash" href="{{ url_for(('blog.delete_post'), pid=i.pid)}}"></a>
      </div>
    </div>
    <div class="panel-body">
      <p>{{ i.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
