{% extends "base.html" %}

{% block title %}My Learning Log - Sign In{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" action="" method="POST">
      <h2 class="form-signin-heading">Please Sign In</h2>
      {{ form.hidden_tag() }}
      {{ form.username(placeholder="User Name", class="form-control") }}
      {{ form.password(placeholder="Password", class="form-control") }}
      {{ form.submit(class="btn btn-lg btn-primary btn-block")}}
      <div class="noacc">
        Don't have an account? <a href="{{ url_for('blog.signup') }}">Sign Up Here</a>
      </div>
    </form>
</div>
{% endblock %}
