{% extends "base.html" %}
{% block title %}My Learning Log - Sign Up{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto mt-10 p-6 bg-base-100 rounded-lg shadow">
    <form method="POST">
        <h2 class="text-2xl font-bold mb-6">Please Sign Up</h2>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.firstname.label }}
            {{ form.firstname(class="input input-bordered w-full", placeholder="First Name") }}
        </div>

        <div class="form-group">
            {{ form.lastname.label }}
            {{ form.lastname(class="input input-bordered w-full", placeholder="Last Name") }}
        </div>

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="input input-bordered w-full", placeholder="User Name") }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="input input-bordered w-full", placeholder="Email") }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="input input-bordered w-full", placeholder="Password") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary w-full mt-4") }}
        </div>

        <div class="mt-4 text-center">Already have an account! <a class="signup" href="{{ url_for('blog.index') }}">Sign In
                Here</a></div>
    </form>
</div>
{% endblock %}
