{% extends "base.html" %}
{% block title %}My Learning Log - Sign Up{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: 0 auto; margin-top: 30px;">
    <form method="POST">
        <h2>Please Sign Up</h2>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.firstname.label }}
            {{ form.firstname(class="form-control", placeholder="First Name") }}
        </div>

        <div class="form-group">
            {{ form.lastname.label }}
            {{ form.lastname(class="form-control", placeholder="Last Name") }}
        </div>

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="User Name") }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>

        <div class="noacc">Already have an account! <a class="signup" href="{{ url_for('blog.index') }}">Sign In
                Here</a></div>
    </form>
</div>
{% endblock %}
